:root {
  --primary: #385170;
  --secondary: #9fd3c7;
  --light: #ececec;
  --dark: #142d4c;
}

/* Skin */

/* Base */

/* Style */

body {
  background: var(--light);
}

p {
  color: var(--primary);
}
