body {
  text-align: center;
  background: linear-gradient(to bottom, black, gray, gray, black),
    url(/images/background.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-attachment: fixed;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

p {
  background-color: rgba(230, 230, 230, 1);
  color: black;
  width: 780px;
  border: 5px solid #b7e401;
  border-radius: 20px;
  padding: 20px;
  font-size: 30px;
  font-family: monospace;
  margin: auto;
  box-shadow: 20px 20px #f53974;
}

h1 {
  background-color: rgba(230, 230, 230, 0.3);
  border: 10px double black;
  border-radius: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 80px;
  letter-spacing: 4px;
  text-shadow: 4px 2px black;
}

h2 {
  background-color: rgba(230, 230, 230, 0.2);
  border: 10px double #b7e401;
  font-size: 55px;
  font-family: "Lobster", cursive;
  padding: 10px 10px;
  text-shadow: 4px 2px black;
}

h4 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-shadow: 3px 2px black;
}

h2,
h4 {
  color: rgba(230, 230, 230, 1);
  border-radius: 10px;
}

h3 {
  background-color: rgba(230, 230, 230, 1);
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  border: 5px solid black;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 4px;
}

table {
  background-color: #b7e401;
  font-size: 30px;
  margin: auto;
  color: #f53974;
  padding: 10px;
  letter-spacing: 4px;
  width: 800px;
}

.tapme {
  border: 5px solid rgb(70, 68, 68);
  border-radius: 15px;
  padding: 30px 10px 0px 10px;
  width: 450px;
  margin: auto;
  box-shadow: -20px -20px #f53974;
  background: linear-gradient(to bottom right, #b7e401, #f53974);
}

.tapme:hover {
  box-shadow: 20px 20px #b7e401;
}

#navbar {
  background-color: #f53974;
  background: linear-gradient(
    to right,
    #000000,
    #f53974,
    #f53974,
    #f53974,
    #000000
  );
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 5px outset #b7e401;
}
nav ul {
  margin: 0px;
  padding: 3px;
}
nav li {
  background-color: #b7e401;
  border: 3px solid black;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  width: 90px;
  margin-right: 20px;
}

nav li:hover {
  background: linear-gradient(to bottom right, #f53974, #b7e401);
}

#acnh {
  border: 5px solid rgba(230, 230, 230, 1);
  border-radius: 50%;
  margin-bottom: 30px;
}

#icons {
  background-color: #b7e401;
  border-radius: 20px;
  width: 200px;
  height: 110px;
  box-shadow: 20px 20px 0px 0px;
  animation-name: iconani;
  animation-duration: 2s;
}

@keyframes iconani {
  0% {
    background-color: #b7e401;
  }

  50% {
    background-color: #ffa500;
    scale: 120%;
    opacity: 0.8;
    border-radius: 30px;
  }

  100% {
    background-color: #b7e401;
    top: 0px;
  }
}

/* start of about.html css */
#aboutme {
  background-color: rgba(230, 230, 230, 1);
  color: #f53974;
  border-radius: 20px;
  box-shadow: 15px 15px #f53974;
}

#aboutprofilepic {
  border: 5px dashed black;
  border-radius: 25%;
  background: linear-gradient(to bottom right, #b7e401, #f53974);
  box-shadow: 15px 15px rgba(230, 230, 230, 1);
  width: 600px;
  height: 600px;
}

#aboutlist {
  text-align: left;
  padding: 0px 20px 0px 20px;
}

#aboutmetable {
  background: linear-gradient(to bottom, gray, black, black);
  padding: 20px 100px 50px 100px;
  border-radius: 20px;
}
/* end of about.html css */

footer {
  color: white;
  font-style: italic;
  text-shadow: 2px 2px black;
}
