body {
    text-align: center;
}

p {
    color: rgb(59, 122, 114);
    width: 780px;
    border: 5px solid darkcyan;
    padding: 5px;
    font-style: italic;
    font-size: 30px;
    margin: auto;
  }

h1 {
    color: green;
    font-family: sans-serif;
    font-size: 80px;
}

h2 {
    color: red;
    font-size: 50px;
}

h4 {
    color: blue;
    font-size: 35px;
}
table {
    font-size: 30px;
    margin: auto;
    color: limegreen;
    padding: 10px;
    letter-spacing: 2px;
    width: 800px;
    font-family: sans-serif;
}

th {
    color: black;
    font-style: italic;
}

tr, td {
    color: magenta;
}